<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
    <h1>DPS AI Challenge</h1>
    <h2>Select the Month and Year for a prediction value</h2>
    <form action="predict" method="post">
        <input type="number" placeholder="Year" id="year" name="year" min="2021" required>
        <br>
        <input type="number" placeholder="Month" id="month" name="month" min="1" max="12" required>
        <br>
        <input type="submit" value="SUBMIT" id="predict">
    </form>
	{% for message in get_flashed_messages()%}
		{{message}}
	{% endfor %}
</body>
</html>